.footer {
	background: var(--light-text-color);
	color: var(--light-icon-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.social-container {
	display: grid;
	grid-template-areas:
		'social'
		'contact'
		'copyright';
	grid-gap: 2rem;
}

.contact {
	grid-area: contact;
	padding: 0;
	place-self: center;
}

.social {
	grid-area: social;
	padding: 0;
	place-self: center;
}

.copyright {
	grid-area: copyright;
	padding: 0;
	place-self: center;
}

.social_item {
	list-style: none;
}
.social__link {
	display: block;
	color: var(--light-icon-color);
	line-height: 2;
	text-align: left;
	text-decoration: none;
}
.copyright {
	/* text-align: center; */
}

.social__link i {
	padding-right: 1.5rem;
}

@media screen and (min-width: 426px) {
	.social-container {
		display: grid;
		grid-template-areas:
			'social contact'
			'copyright copyright';
	}
}
