.footer {
	background: var(--dark-color);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.social__container {
	display: grid;
	grid-template-areas:
		'social'
		'contact'
		'copyright';
	grid-gap: 2rem;
}

.contact {
	grid-area: contact;
	padding: 0;
	place-self: center;
}

.social {
	grid-area: social;
	padding: 0;
	place-self: center;
}

.copyright {
	grid-area: copyright;
	padding: 0;
	place-self: center;
}

.social__item {
	list-style: none;
}
.social__link {
	color: inherit;
	display: block;
	line-height: 2;
	text-align: left;
	text-decoration: none;
}

.social__link i {
	color: inherit;
	padding-right: 1.5rem;
}

/* TABLET DESIGN */
@media screen and (min-width: 426px) {
	.social__container {
		display: grid;
		grid-template-areas:
			'social . contact'
			'. copyright .';
	}
}
