.banner-container {
    position: relative;
    margin-bottom: 48pt;
}

.banner {
    display: none;
    overflow: hidden;
}

.toggle-menu {
    width: 32pt;
    height: 32pt;
    border-radius: 50%;
    background: var(--primary-color);
    position: fixed;
    top: 0;
    right: 1rem;
    z-index: 10;
}

.main-menu-button {
    cursor: pointer;
    margin-right: 1.5rem;
}

.menu-container {
    position: fixed;
    top: 32pt;
    right: 1rem;
    width: 3rem;
    z-index: 5;
}

.menu {
    width: 100%;
    height: 40vh;
    border-radius: 1.5rem;
    background: var(--primary-color);
    transition: 1s height ease-out;
    padding-left: .3rem;
    padding-top: 1.5rem;
    overflow: hidden;
}

.menu .menu_item {
    list-style: none;
}

.menu .menu__link {
    display: block;
    text-decoration: none;
    color: transparent;
}

.menu .menu__link .material-icons {
    color: var(--primary-text);
}

.hide-menu {
    height: 0;
    padding-top: 0;
}

@media screen and (min-width: 426px) {
    .toggle-menu {
        display: none;
    }

    .menu-container {
        width: 100vw;
        height: 45pt;
        left: 0;
        top: 0;
    }

    .menu {
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--primary-color);
        clip-path: ellipse(100% 100% at 50% 0);
    }

    .menu .menu__link {
        color: var(--primary-text);
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 2px solid var(--accent-color);
        transition: .5s box-shadow ease;
    }

    .menu .menu__link:hover, 
    .menu .menu__link:active {
        box-shadow: inset 0 -5rem var(--accent-color);
        color: var(--text-or-icon-color);
    }
}