.main {
	background: var(--background-color);
	color: var(--text-color);
	padding: 2rem;
	text-align: center;
}

section {
	padding-top: 5vh;
	min-height: 90vh;
}

footer {
	min-height: 40vh;
}

section h2 {
	background: var(--primary-color);
	border-radius: 10pt;
	color: var(--icon-color);
	padding: 1rem;
}

.about__logo {
	background: url('../assets/logo.svg') center / contain;
	height: var(--logo-size);
	margin: auto;
	width: var(--logo-size);
	flex: 1 0 300px;
}

.container {
	display: grid;
	margin-top: 1rem;
	margin-bottom: 1rem;
	row-gap: 1.5rem;
}

/* TABLET DESIGN */
@media screen and (min-width: 426px) {
	.container {
		grid-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

/* DESKTOP DESIGN */
@media screen and (min-width: 769px) {
	.main {
		padding: 3rem;
		text-align: center;
	}

	.flx__container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80vh;
	}

	.about__logo {
		align-self: center;
		background-size: cover;
		flex: 1 0 auto;
	}

	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}
