.main {
	background: var(--background-color);
	color: var(--text-color);
	padding: 2rem;
	text-align: center;
}

section {
	padding-top: 5vh;
	min-height: 90vh;
}

footer {
	min-height: 40vh;
}

section h2 {
	background: var(--primary-color);
	border-radius: 10pt;
	color: var(--icon-color);
	padding: 1rem;
}

.about__logo {
	background: url('../assets/logo.svg') center / contain;
	height: var(--logo-size);
	margin: auto;
	width: var(--logo-size);
	flex: 1 0 300px;
}

.container {
	display: grid;
	margin-top: 1rem;
	margin-bottom: 1rem;
	row-gap: 1.5rem;
}

.cards__container {
	display: flex;
	place-content: center;
	place-items: center;
	flex-wrap: wrap;
	gap: 2em;
}

.card {
	height: var(--card-size);
	position: relative;
	overflow: hidden;
	flex: 0 1 var(--card-size);
	box-shadow: var(--blur-box-shadow);
	transition: all 1s ease-in-out;
}

.card__title {
	font-size: 2rem;
	background: var(--background-color);
	transition: all 0.5s ease-in-out;
}

.card__title p {
	font-size: inherit;
	background: inherit;
}

.card__content {
	padding: 1.5em;
	height: var(--card-size);
	background: var(--background-color);
	transition: all 1s ease-in-out;
}

.card__details {
	position: absolute;
	top: var(--card-size);
	left: var(--card-size);
	width: var(--card-size);
	height: var(--card-size);
	padding: 1.5em;
	border-radius: 15rem 0 0;
	display: flex;
	place-content: center;
	place-content: center;
	flex-wrap: wrap;
	background: var(--primary-color);
	color: var(--icon-color);
	transition: all 1s ease-in-out;
}

.card:hover {
	border-radius: 0 0 5rem;
}

.card:hover .card__title {
	font-size: 2.5rem;
	text-shadow: var(--blur-box-shadow);
}

.card:hover .card__content {
	filter: blur(5px);
}

.card:hover .card__details {
	transform: translateY(-280px) translateX(-300px);
}

/* TABLET DESIGN */
@media screen and (min-width: 426px) {
	.container {
		grid-gap: 2rem;
		grid-template-columns: repeat(2, var(--card-size));
	}
}

/* DESKTOP DESIGN */
@media screen and (min-width: 769px) {
	.main {
		padding: 3rem;
		text-align: center;
	}

	.flx__container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80vh;
	}

	.about__logo {
		align-self: center;
		background-size: cover;
		flex: 1 0 auto;
	}

	.container {
		grid-template-columns: repeat(3, var(--card-size));
	}
}
