:root {
	--title-font: 'Rubik', sans-serif;
	--body-font: 'Poppins', sans-serif;
	/* SIZES */
	--profile-size: 150px;
	--logo-size: 200px;
	--fabbutton-size: 1rem;
	--card-size: 300px;
}

@media screen and (min-width: 426px) {
	:root {
		--profile-size: 200px;
		--logo-size: 300px;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		/* LIGHT THEME */
		--dark-color: #1a5175;
		--primary-color: #2574a9;
		--accent-color: #9f5afd;
		--icon-color: #ffffff;
		--text-color: #24252a;
		--background-color: #e4f1fe;
		/* MENU BLUR */
		--blur-background: rgba(26, 81, 117, 0.75);
		--blur-backdrop-filter: blur(4px);
		--blur-box-shadow: 0 2px 10px rgba(26, 81, 117, 0.37);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* DARK THEME */
		--dark-color: #151e21;
		--primary-color: #7b9cb2;
		--accent-color: #cbb2ed;
		--icon-color: #000000;
		--text-color: #ffffff;
		--background-color: #121212;
		/* MENU BLUR */
		--blur-background: rgba(21, 30, 33, 0.75);
		--blur-backdrop-filter: blur(4px);
		--blur-box-shadow: 0 2px 10px rgba(21, 30, 33, 0.37);
	}
}
